body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formulaire {
    /* display:flex; */
    border: 2px solid black;
    padding: 15px;
    margin: 0 auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: marcellus;
    width: 90%;
    height: fit-content;
    margin-bottom: 10px;
    grid-area: f;
}

#admin {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    grid-area: h;
}

.titre{
    align-content: center;

}

.dm{
    width: fit-content;
    height: 50px;
    background-color: white;
    scale: 0.8;

}

.settings {
    background: url("../img/settingLight.png") no-repeat;
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    align-items: center;
}

.logo {
    width: 200px;
    height: 150px;
    margin-right: 25px;
    align-content: center;
    background: url("../img/logoLight.png") no-repeat;
    scale: 0.6;

}

.rouage{
    align-content: center;
}

.submit-btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
    width: 95%;
    height: 30px;
    margin: 0 auto;
    background-color: white;
}

.livre {
    display: flex;
    justify-content: center;
    margin: 10px;
    grid-area: li;
}

.message-card {
    border: 2px solid black;
    margin: 15px 0 15px 0;
    border-radius: 10px;
    padding: 5px;
}


label {
    grid-area: l;
    width: 80%;
    height: 20px;
    margin: 5px 15px 15px 15px;
}

input {
    grid-area: i;
    width: 95%;
    height: 20px;
    margin: 5px 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#message {
    grid-area: t;
    width: 95%;
    height: 75px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
#charCount{
        display: flex;
        justify-content: end;
}        

.messages-section{
    grid-area: ms;
}

.condition{
    display: flex;
    width: fit-content;
    align-items: center;

    input{
        width: fit-content;
    }
}

/* Dark mode */
.dark{
    
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: antiquewhite;

    .dm{
        width: fit-content;
        height: 50px;
        background-size: 50px 50px;
        position: relative;
        background-color: black;
        color: aliceblue;
        border-color: aliceblue;
        scale: 0.8;
    }

    .settings{
        background: url("../img/settingDark.png") no-repeat;
        background-color: black;
        border-color: aliceblue;
    }

    .message-card, .formulaire, header{
        border-color: aliceblue;
    }
    .logo{
        background: url("../img/logoDark.png") no-repeat;
        scale: 0.8;
        width: 200px;
        height: 150px;
        background-color: black;
        border-color: aliceblue;
    }
    input{
        border: 1px solid rgb(224, 224, 224);
    }
}

/* REGEX */
.error {
  color: #ff4d2e;
  font-weight: bold;
}
.ok {
  color: #43ff2a;
  font-weight: bold;
}
.hint{
  margin-top: 6px;
  font-family: monospace;
  font-size: 11px;
  min-height: 14px;
} 

/* pagination */
.pagination{
    width: 100%;
    text-align: center;
    color: rgb(66, 0, 66);
}

/* responsive */
@media (min-width: 480px) and (max-width: 960px) {
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .formulaire {
        display: block;
        width: 95%;
        margin-bottom: 10px;
    }

    .form-group {
        display: flex;
        label{
            width: 20%;
        }
    }

    .submit-btn {
        width: 90%;
        margin: 0 auto;

    }

    #message {
        width: 100%;
    }

    input {
        grid-area: i;
        width: 80%;
        height: 30px;
        margin: 5px 10px 10px;

    }

    #message{
        width: 80%;
        height: 100px;    
        margin-right: 10px;    
    }

    #charCount{
        display: flex;
        justify-content: end;

}

@media (min-width: 960px ) {
    body{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "h h"
            "li ms"
            "f ms"
            "f ms"
        ;
        gap: 10px;
    }

}
}